body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #DAC19C;
    color: #FFF;
    padding: 1rem;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

figure {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


figure:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff
    color: #DAC19C;
    padding: 0.5rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

figure:hover figcaption {
    opacity: 1;
}

footer {
    background-color: #DAC19C;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.blanc {
    background-color: #DAC19C;
    color: #fff;
}